#chart{
  display: inline-block;
  height: 600px;
  width: 80%;
  overflow: auto;
  vertical-align: top;
  table{
    input{
      width: 5em;
    }
  }
}

#panel{
  text-align: center;
  vertical-align: top;
  width: 20%;
  display: inline-block;
  button{
    margin-top: 20px;
  }
}
#canvas{
  position: relative;
  height: 1000px;
  width: 1000px;
  .aspect{
    height: 100%;
    width: 100%;
    position: absolute;
    //解决表格溢出时出现的不和谐现象
    overflow: hidden;
  }
  .theTable{
    border: 1px #a3a3a3 solid;
    box-shadow: 3px 3px 3px #d4cccc;
    position: absolute;
    display: inline-block;
    cursor: move;
    border-top-left-radius: 10px;
    background-color: #61ABE8;
    border-top-right-radius: 10px;
    .tableBody{
      padding: 15px;
    }
    li{
      color: #E9B84C;
      span{
        color: white;
      }
    }
    .tableHead{
      padding: 15px;
      input{
        background-color: transparent;
        border: 0;
      }
      h2{
        margin: 0;
      }
    }
    tr{
      &.isActive{
        &:hover{
          background-color: yellow;
        }

      }
    }
    td{

      border: 1px solid transparent;
    }

    color: white;
    hr{
      margin: 0px;
      background-color: white;
      height: 2px;
    }
    .edit{
      input{
        background-color: transparent;
      }
      color: #333;
      table{
        background-color: #f7f7f7;
      }
      hr{
        background-color: #61ABE8;
      }
      tr{
      }
      .field{
        background-color: #E0E0E0;
      }
    }
  }
}

.close{
  float: right;
}
#objAspect{
  background-image: url("../imgs/net.jpg");
}
.btnRed{
  background-color: #E36462;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  position: relative;

}
.btnGreen{
  border: 0;
  background-color: #97BE6D;
  color: white;
   padding: 10px;
  border-radius: 5px;
  position: relative;
}
