#chart{
  height: 400px;
  width: 100%;
  overflow: auto;
  table{
    input{
      width: 5em;
    }
  }
}

#objAspect{
  background-image: url("../imgs/net.jpg");
}
#canvas{
  position: relative;
  height: 1000px;
  width: 1000px;
  .aspect{
    height: 100%;
    width: 100%;
    position: absolute;
    //解决表格溢出时出现的不和谐现象
    overflow: hidden;
  }
  .theTable{
    position: absolute;
    display: inline-block;
    cursor: move;
    tr{
      &.isActive{
        &:hover{
          background-color: yellow;
        }

      }
    }
  }
}
