<img src="./imgs/logo.jpg" id="logo-second">
<div id="container" class="container" ng-controller="mainCtrl">
        <div id="panel">
            <div>
                <button id="move" ng-disabled="editNum!=null" class="btnRed">move</button>
            </div>
            <div>
                <button id="createTable" ng-disabled="editNum!=null" class="btnRed">new Table</button>
            </div>
            <div>
                <button id="real_1-1" class="drawLink btnRed" ng-disabled="editNum!=null" >link</button>
            </div>
            <div>
                <button id="submit" ng-disabled="editNum!=null" class="btnGreen" ng-click="submit()">submit</button>
            </div>
        </div
        ><div id="chart">
        <!--{{tables}}-->
            <div id="canvas">
                <canvas id="realCanvas" class="aspect" height="1000" width="1000"></canvas>
                <div class="aspect" id="objAspect" ng-click="createTable($event)">
                    <div ng-repeat="i in tables" class="theTable" style="left:{{i.coor[0]}}px;top:{{i.coor[1]}}px;">
                        <div class="tableHead">
                            <span class="close" ng-click="delTable($index)">×</span>
                            <h2 ng-if="!(editNum==$index)">{{i.name}}</h2>
                            <p>
                                <input ng-if="editNum==$index" ng-model="i.name" placeholder="name">
                            </p>
                            <input ng-if="editNum==$index" ng-model="i.permission" placeholder="permission">
                        </div>
                        <hr>
                        <!--浏览模式的表-->
                        <div ng-if="!(editNum==$index)" class="tableBody">
                            <p>permission</p>
                            <p>column</p>
                            <table ng-init="p_index=$index" theIndex="{{$index}}">
                                <tr ng-repeat="j in i.columns" ng-click="pushLink(p_index, $index)">
                                    <td>
                                        <li>
                                            <span>
                                                {{j.name}}
                                            </span>
                                            <span>{{j.type}}</span>
                                        </li>
                                    </td>
                                    <!--
                                    <td>
                                        <span ng-if="j.default">defalut:{{j.default}}</span>
                                    </td>
                                    <td>
                                        <span ng-if="j.unique">unique</span>
                                    </td>
                                    <td>
                                        <span ng-if="j.userInput==true">mustInput</span>
                                        <span ng-if="j.userInput==false">can'tInput</span>
                                    </td>
                                    <td>
                                        <span >{{j.display?'display':'cover'}}</span>
                                    </td>
                                    -->
                                </tr>
                            </table>
                            <button ng-click="editNum==$index?ok():edit($index)">{{editNum==$index?'ok':'edit'}}</button>
                        </div>

                        <!--编辑模式的表-->
                        <div ng-if="editNum==$index" class="edit">
                            <table ng-init="p_index=$index">
                                <tr class="field">
                                    <td>name</td>
                                    <td>type</td>
                                    <td>default</td>
                                    <td>unique</td>
                                    <td>userInput</td>
                                    <td>display</td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="j in i.columns" class="otherField">
                                    <td>
                                        <input ng-model="j.name">
                                    </td>
                                    <td>
                                        <select ng-model="j.type">
                                            <option>Integer</option>
                                            <option>UnicodeText</option>
                                            <option>GUID</option>
                                            <option>PASSWORD</option>
                                        </select>
                                    </td>
                                    <td><input ng-model="j.default"></td>
                                    <td>
                                        <select ng-model="j.unique" \
                                                ng-options="o.v as o.n for o in [{ n: 'false', v: false }, { n: 'true', v: true }]">
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="j.userInput"
                                                ng-options="o.v as o.n for o in [{n:'true',v:true},{n:'false',v:false},{n:'null',v:null}]">
                                        </select>
                                    </td>
                                    <td>
                                        <select ng-model="j.display"
                                                ng-options="o.v as o.n for o in [{n:'true',v:true},{n:'false',v:false}]">
                                        </select>
                                    </td>
                                    <td>
                                        <button ng-click="delItem(p_index, $index)">×</button>
                                    </td>
                                </tr>
                            </table>

                            <button ng-click="createItem($index)">+</button>
                            <button ng-click="editNum==$index?ok():edit($index)">{{editNum==$index?'ok':'edit'}}</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
 </div>
<div id="a" class="progress-bar">
    <img src="./imgs/bar2.jpg">
</div><