<div style="height: 100%; width:960px; margin: auto" ng-controller="homeCtrl">
    <div id="pagepiling">
        <div class="section">
            <div id="intro-container" >
                此处应该有介绍此处应该有介绍此处应该有介绍此处应该有介绍此处应该有介绍此处应该有介绍此处应该有介
            </div>
            <div class="icon-container">
                <div class="icon-inline">
                    <div class="icon-wrapper">
                        <img src="./imgs/2055487069.jpg">
                        <span class="icon-text">选择模板</span>
                    </div>
                    <div class="icon-wrapper">
                        <img src="./imgs/844121089.jpg">
                        <span class="icon-text">输入数据</span>
                    </div>
                    <div class="icon-wrapper">
                        <img src="./imgs/2118276622.jpg">
                        <span class="icon-text">自动生成</span>
                    </div>
                </div>
            </div>
            <div id="btn-start">
                start
            </div>
        </div>
        <div class="section">
        </div>
    </div>
</div>