<div style="height: 100%; margin: auto" ng-controller="homeCtrll">
    <div id="pagepiling" >
        <div class="section">
            <img id="intro-logo" src="./imgs/logo.jpg">
            <div id="intro-container" >
                基于数据定义的 Restful 风格的后端代码生成工具
            </div>
            <div class="icon-container">
                <div class="icon-inline">
                    <div class="icon-wrapper">
                        <img src="./imgs/2055487069.jpg">
                        <span class="icon-text">选择模板</span>
                    </div>
                    <div class="icon-wrapper">
                        <img src="./imgs/844121089.jpg">
                        <span class="icon-text">输入数据</span>
                    </div>
                    <div class="icon-wrapper">
                        <img src="./imgs/2118276622.jpg">
                        <span class="icon-text">自动生成</span>
                    </div>
                </div>
            </div>
            <div id="btn-start">
                start
            </div>
        </div>
        <div class="section">
            <img src="./imgs/logo.jpg" id="logo-second">
            <div class="thumbnail-container">
                <div class="thumbnail-wrapper" id="thumbnail1" >
                    <div class="thumbnail-text">Data</div>
                    <img src="./imgs/2.jpg">
                </div>
                <div class="thumbnail-wrapper" id="thumbnail2">
                    <div class="thumbnail-text">Blog</div>
                    <img src="./imgs/21.jpg">
                </div>
                <div class="thumbnail-wrapper" id="thumbnail3">
                    <div class="thumbnail-text" >IM</div>
                    <img src="./imgs/22.jpg">
                </div>
            </div>
            <div class="progress-bar">
                <img src="./imgs/bar1.jpg">
            </div>
        </div>
    </div>
</div>